<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"><title>Web App</title></head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Update Model</h1>
                </div>
                <form th:action="@{/model/{id}(id=${modelId})}"
                      th:method="post"
                      th:object="${modelReqDto}"
                      class="m-md-auto w-50 pb-3">
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input th:value="*{name}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="name" aria-describedby="nameHelp"
                               name="name"/>
                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error
                            message</small>
                    </div>

                    <fieldset class="mb-3">
                        <legend>Choose Model Category</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input th:field="*{category}"
                                       th:value="CAR"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="modelCategory"/>
                                <span>Car</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{category}"
                                       th:value="BUS"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="modelCategory"/>
                                <span>Bus</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{category}"
                                       th:value="TRACK"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input " name="modelCategory"/>
                                <span>Track</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{category}"
                                       th:value="MOTORCYCLE"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input " name="modelCategory"/>
                                <span>Motorcycle</span>
                            </label>
                        </div>
                        <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                               class="text-danger">Error message</small>
                    </fieldset>

                    <div class="mb-3">
                        <label class="form-label" for="imageUrl">Image URL</label>
                        <input th:value="*{imageUrl}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="imageUrl"
                               aria-describedby="imageUrlHelp" name="imageUrl"/>
                        <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">
                            Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="startYear">Start Year</label>
                        <input th:value="*{startYear}"
                               th:errorclass="is-invalid"
                               type="number" min="1" max="9999" class="form-control text-center"
                               id="startYear" aria-describedby="startYear" name="startYear"/>
                        <small th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="endYear">End Year</label>
                        <input th:value="*{endYear}"
                               th:errorclass="is-invalid"
                               type="number" min="0" class="form-control text-center"
                               id="endYear" aria-describedby="endYear" name="endYear"/>
                        <small th:if="${#fields.hasErrors('endYear')}" th:errors="*{endYear}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="brand"><h5>All available brands</h5></label>
                        <select multiple="false" class="form-control text-center" th:errorclass="is-invalid"
                                id="brand" name="brandIdentifier" th:value="*{brandIdentifier}">
                            <option th:each="b : ${brands}"
                                    th:value="${b.id}"
                                    th:text="${b.name}"
                                    th:selected="${b.id} == *{brandIdentifier}">
                                Brand name
                            </option>
                        </select>
                        <small th:if="${#fields.hasErrors('brandIdentifier')}" th:errors="*{brandIdentifier}"
                               class="text-danger">Error message</small>
                    </div>
                    <input type="hidden" name="_method" value="PUT"/>
                    <button type="submit" class="btn btn-secondary">Update Model</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>