<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <title>Web App</title>
</head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>User's Offers</h1>
                </div>
                <div class="row bg-light rounded">
                    <div class="col-md-6 mt-2 d-flex flex-column align-items-center">
                        <div>
                            <img src="/pic/profile.png" height="300px" alt="image">
                        </div>
                        <div class="col-md-6 pt-3 text-center">
                            <h4 th:text="'Username: ' + ${userOffersView.username}"></h4>
                            <h4 th:text="'First Name: ' + ${userOffersView.firstName}"></h4>
                            <h4 th:text="'Last Name: ' + ${userOffersView.lastName}"></h4>
                        </div>
                        <div>
                            <a class="btn btn-success align-bottom"
                               th:href="@{/offer/sign-up}">
                                Sign Up a new Offer
                            </a>
                        </div>
                    </div>
                    <div class='row col-md-6 mt-2 d-flex justify-content-around'>
                        <div th:each="o : ${userOffersView.offers}" class="d-flex flex-column mb-2 bg-text rounded">
                            <h3 th:text="'Description: ' + *{o.description}"></h3>
                            <h4><a class="btn-block" th:href="@{/offer/{id}(id=*{o.id})}">Detail info</a></h4>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
